/* Add additional stylesheets below
-------------------------------------------------- */

table{
    float:left;

    margin-left:30px;
}

caption{
    font-size: 25px;
    font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #333333;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #333333;
    color: white;
}

.battleGridPlayer {
    border: 1px solid black;
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    border-spacing: 0px;
    cursor: pointer;
    margin-right: 30px;

    /*height: 75%;*/
}

/* .battleGridPlayer:active {
    cursor: default;
} */

.battleGridPlayer tr {
    border: 1px solid black;
    height: 40px;
}

.error{
    color: red;
}

.battleGridPlayer td {
    border: 1px solid black;
    width: 40px;
}

.battleGridOpponent {
    border: 1px solid black;
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    border-spacing: 0px;
    max-width: 60%;
    cursor:url(crosshairOne.cur) 16 18, auto;

}

.battleGridOpponent tr {
    border: 1px solid black;
    height: 40px;
}

.battleGridOpponent td {
    border: 1px solid black;
    width: 40px; 
}

.battleGridOpponent td:hover {
    background-color: #bcbcbc;
}

.placed {
    background-color: #bcbcbc;
}

.error-place {
    background-image: url("../red_x_new.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.occupied {
    background-image: url(https://i.gyazo.com/8bd2dea369e33c76a9e89f60e434bca4.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    column-span: 2;
}

.hit {
        background-image: url(https://i.gyazo.com/d017b472b30552859c7156773ba5c7ff.png);
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;

}

.sink {
    background-image: url(https://i.gyazo.com/163b826db507278a57706c194932ce32.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.miss {
    background-image: url(http://2.bp.blogspot.com/-S_9dNop-3V0/Uk_2YlzXBDI/AAAAAAAACU8/oo4F2FJpo-4/s640/AnimatedWater_005.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}


.hitPlayer {
        background-image: url(https://i.gyazo.com/d017b472b30552859c7156773ba5c7ff.png);
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;

}

.sinkPlayer {
    background-image: url(https://i.gyazo.com/163b826db507278a57706c194932ce32.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.missPlayer {
    background-image: url(http://2.bp.blogspot.com/-S_9dNop-3V0/Uk_2YlzXBDI/AAAAAAAACU8/oo4F2FJpo-4/s640/AnimatedWater_005.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}


.logo{
        width: 500px;
        height: 200px;
        margin-left:auto;
        margin-right:auto;

}

.buttonHolder{
    /* text-align: center; */

}


.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #565656;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 30px;
}

.button img{
    max-width: 50%;
    height: auto;
}

.button:hover {
  background-color: #302f2f
}

.button:active {
  background-color: #302f2f;
  box-shadow: 0 5px #666;
}

.logo img {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;

}
#results-container {
    grid-row-start: 2;
    grid-column: 2 / span 3;
    border: 1.5px solid black;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
    height: 380px;
    max-height: 380px;
    margin-bottom: 50px;
    max-width: 40%

}

.container-header {
    grid-row: 1 / 1;
    grid-column: 2 / span 3;
    float: center;
}
#player-results {
    grid-column-start: 2;
    grid-row: 2 / span 3;
    width: 50%;
    margin: 0px;
    display: inline-block;
    overflow-x: hidden;
}

#opponent-results {
    grid-column-start: 3;
    grid-row: 2 / span 3;
    width: 48%;
    display: inline-block;
    overflow-x: hidden;
    max-width: 48%;
}

.container-header {
    margin-top: 0px;
    text-align: center;
}

.opponent-name {
    font: 18px bold;
    color: #d44a4a;
}

.player-name {
    font: 18px bold;
    color: #40cc7a;
}

#restart{
    visibility: hidden;
    text-align: center;
}

.hitResult {
    color: #193c93;
    font-weight: bold;
}
.missResult {
    color: #999999;
}
.sunkResult {
    color: #840f5b;
    font-weight: bold;
}

.missError{
    background-image: url(http://2.bp.blogspot.com/-S_9dNop-3V0/Uk_2YlzXBDI/AAAAAAAACU8/oo4F2FJpo-4/s640/AnimatedWater_005.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.sinkError{
    background-image: url(https://i.gyazo.com/163b826db507278a57706c194932ce32.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.hitError{
        background-image: url(https://i.gyazo.com/d017b472b30552859c7156773ba5c7ff.png);
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
}


.missError:hover{
        background-image: url(https://i.gyazo.com/47ec3289aaaba7330e8788b7bd8586b4.png);
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
        border-style: dotted;
}

.sinkError:hover{
        background-image: url(https://i.gyazo.com/c1cd4034d2c6c52c5e9f9138c2df8680.png);
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
}

.hitError:hover{
        background-image: url(https://i.gyazo.com/301b186f5feb3e5f3f74a59453b64636.png);
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
}


