/* Add additional stylesheets below
-------------------------------------------------- */
body {
    font-family: Roboto;
}
table{
    float:left;
    padding-right: 10px;
    margin-left:30px;
}

table::after {
  background-image: url("../150px-Compass-wheel-black-white-letters-400.png");
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 80px;
  left: 84px;
  width: 200px;
  height: 200px;
  size: fill;
  z-index: -2;
  opacity: 0.1;
}

caption{
    font-size: 25px;
    font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15px; /* Location of the box */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#endModal{
    padding-top: 150px;
    bottom: 100px;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto auto 25px auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}



/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close-info {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-info:hover,
.close-info:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    text-align: center;
    background-color: #333333;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    text-align: left;
    line-height: 1.5;
}

.modal-footer {
    padding: 2px 16px;
    height: 0px;
    background-color: #333333;
    color: white;
    /*margin-bottom: 15px;*/
}

.battleGridPlayer {
    border: 1px solid black;
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    border-spacing: 0px;
    box-shadow: 10px 10px 8px #888888;

    /*height: 75%;*/
}

.battleGridPlayer tr {
    border: 1px solid black;
    height: 40px;
}

.error{
    color: red;
}

th {
    min-width: 40px;
}

.battleGridPlayer td {
    border: 1px solid black;
    width: 40px;
    cursor: pointer;
}

.battleGridOpponent {
    border: 1px solid black;
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    border-spacing: 0px;
    max-width: 60%;
    margin-right: 30px;
    box-shadow: 10px 10px 8px #888888;

}

.battleGridOpponent tr {
    border: 1px solid black;
    height: 40px;
}

.battleGridOpponent td {
    border: 1px solid black;
    width: 40px;
    cursor:url(crosshairOne.cur) 16 18, auto;
}

.battleGridOpponent td:hover {
    background-color: #bcbcbc;
}
.found {
    background-color: black;
    background-image: none !important;
}

.placed {
    background-color: #bcbcbc;
    background-image: none;
}

.error-place {
    background-image: url("../red_x_new.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.occupied {
    background-image: url("../ship_pleb.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    column-span: 2;
}

.hit {
        background-image: url("../splodey_boi.png");
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;

}

.sink {
    background-image: url("../explosion.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.cq_sink{
    background-image: url("../cq_death.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.cq_place{
    background-image: url("../cq.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.miss {
    background-image: url("../miss.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.logo{
        width: 500px;
        height: 200px;
        margin-left:auto;
        margin-right:auto;

}

.buttonHolder{
    display: block;
}

    /* Button Layout was used from W3Schools example code: https://www.w3schools.com/tags/tag_button.asp */

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #565656;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #999;
  margin-bottom: 30px;
}

#is_horizontal{
    background-color: black;
}

#is_horizontal:hover{
    background-color: #302f2f
}

#is_vertical{
    background-color: #565656;
}

#is_vertical:hover{
    background-color: #302f2f
}

#is_surface{
    background-color: black;
}

#is_surface:hover{
    background-color: #302f2f
}

#is_submerged{
    background-color: #565656;
}

#is_submerged:hover{
    background-color: #302f2f
}

.button img{
    max-width: 50%;
    height: auto;
}

.button:hover {
  background-color: #302f2f
}

.button:active {
  background-color: #302f2f;
  box-shadow: 0 5px #666;
}

.logo img {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;

}
#results-container {
    /*grid-row-start: 2;*/
    /*grid-column: 2 / span 3;*/
    border: 1.5px solid black;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
    height: 380px;
    max-height: 472px;
    /*margin-bottom: 50px;*/
    margin-left: 10px;
    max-width: 40%;
}

.container-header {
    margin-bottom: 0px;
}

#player-results {
    width: 55%;
    margin: 0px;
    display: inline-block;
    overflow-x: hidden;
}

#opponent-results {
    width: 45%;
    display: inline-block;
    overflow-x: hidden;
    max-width: 48%;
}

.container-header {
    margin-top: 0px;
    text-align: center;
}

.opponent-name {
    font: 18px bold;
    color: #d44a4a;
}

.player-name {
    font: 18px bold;
    color: #40cc7a;
}

#restart{
    visibility: hidden;
    text-align: center;
}

.hitResult {
    color: #193c93;
    font-weight: bold;
}
.missResult {
    color: #999999;
}
.sunkResult {
    color: #840f5b;
    font-weight: bold;
}

.radarResult {
    color: #302f2f;
    font-weight: bold;
}

.result {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.missError{
    background-image: url(http://2.bp.blogspot.com/-S_9dNop-3V0/Uk_2YlzXBDI/AAAAAAAACU8/oo4F2FJpo-4/s640/AnimatedWater_005.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.sinkError{
    background-image: url(https://i.gyazo.com/163b826db507278a57706c194932ce32.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.hitError{
        background-image: url(https://i.gyazo.com/d017b472b30552859c7156773ba5c7ff.png);
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
}


#main-container {
    display: block;
    position: relative;
    min-height: 100%;
    height: auto !important;
    margin-bottom: 20px;
    width: 100%;
    overflow: auto;
}

#radar-btn, #laser-btn {
    visibility: hidden;
}

.radar-square {
    background-color: #23468c;
    background-image: none !important;
}

.btn-toggle {
    background-color: #333333;
}

#move-fleet{
    visibility: hidden;
}

