<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<div class = "logo">
    <img src="https://fanart.tv/fanart/movies/44833/hdmovielogo/battleship-50a17dbf5095e.png" alt="BattleShip Logo">
</div>

<table id="opponent" class="battleGridOpponent">
</table>

<table id="player" class="battleGridPlayer">
</table>

<div class = "buttonHolder">
    <button class="button" id = "place_minesweeper">Place Minesweeper</button>
    <button class="button" id = "place_destroyer" >Place Destroyer</button>
    <button class="button" id = "place_battleship" >Place Battleship</button>
    <input type="checkbox" id="is_vertical">Vertical</input>
</div>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>